.game-board-tile:hover {
	border: 1px solid var(--selection-color);
}

.spinning {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg) rotateX(-90deg) translateY(-20px);
	}
	50% {
		transform: rotateZ(180deg) rotateX(-90deg) translateY(-25px);
	}
	100% {
		transform: rotateZ(360deg) rotateX(-90deg) translateY(-20px);
	}
}
