:root {
	--extra-transform: ;
}

.theme-light {
	--darkest-color: #000;
	--darker-color: #333;
	--dark-color: #666;
	--light-color: #999;
	--lighter-color: #ccc;
	--lightest-color: #fff;
	--primary-color: #007bff;
	--primary-color-darker: #0056b3;
	--danger-color: #dc3545;
	--selection-color: #00b3ff;
	--selection-lighter-color: #e1f4ff;
}

.theme-dark {
	--darkest-color: #fff;
	--darker-color: #ccc;
	--dark-color: #999;
	--light-color: #666;
	--lighter-color: #333;
	--lightest-color: #000;
	--primary-color: #007bff;
	--primary-color-darker: #0056b3;
	--danger-color: #dc3545;
	--selection-color: #00b3ff;
	--selection-lighter-color: #1a374a;
}

body {
	background-color: var(--lightest-color);
	color: var(--darkest-color);
}

* {
	font-family: monospace;
	margin: 0;
	padding: 0;
	color: inherit;
}

#game-board * {
	transform-style: preserve-3d;
	backface-visibility: inherit;
}

button {
	background-color: var(--primary-color);
	color: var(--lightest-color);
	border: none;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
}

button:hover {
	background-color: var(--primary-color-darker);
}

button:disabled {
	background-color: var(--dark-color);
	opacity: 0.5;
	cursor: not-allowed;
	text-decoration: line-through;
}

input {
	background-color: var(--lightest-color);
	color: var(--darkest-color);
	border: 1px solid var(--light-color);
	padding: 0.25rem;
}

input:hover {
	border-color: var(--primary-color);
}

select {
	background-color: var(--lightest-color);
	color: var(--darkest-color);
	border: 1px solid var(--light-color);
	padding: 0.25rem;
}

select:hover {
	border-color: var(--primary-color);
}

input[type="checkbox"] {
	width: 23px;
	height: 23px;
}

.card {
	background-color: var(--lightest-color);
	border: 1px solid var(--lighter-color);
	padding: 0.25em;
}

.board-piece {
	border: 1px solid red;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	transition: transform 0.2s ease;
}

.lift-hover:hover {
	--extra-transform: translateZ(5px);
}

.row {
	display: flex;
	gap: 5px;
	min-height: 25px;
	align-items: center;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pulse-border {
	animation: pulsate 1s infinite linear;
	position: absolute;
}

@keyframes pulsate {
	0% {
		padding: 5px;
		border-radius: 15px;
	}
	50% {
		padding: 10px;
		border-radius: 20px;
	}
	100% {
		padding: 5px;
		border-radius: 15px;
	}
}
